.ej-fn-popup {
    position: absolute;
    z-index: 10;

    width: 500px;
    height: 245px;
    padding: 17px 40px 20px 20px;
    border-radius: 4px;
    box-shadow: 0 3px 15px -3px rgba(13, 20, 33, 0.13);
    border: solid 1px #eaeaea;
    background-color: #ffffff;

    outline: none;

    display: none;
}

.ej-fn-popup--opened {
    display: block;
}

